{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <div class="media">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <h2>Numéro de la saison {{ season.number }}</h2>
            <p> {{ episode.number }} - {{ episode.title }}
            <p> {{ episode.synopsis }} </p>
            <p>Durée: {{episode.duration}}minutes</p>
        </div>
    </div>
    <div>
<h3>commentaire</h3>
{% for comment in episode.comments %}
<p>{{ comment.comment }}</p>
<p>Note : {{ comment.rate }}
{# <p>{{ comment.author }}</p> #}
{% endfor %}
</div>
    <div>
		{% if app.user %}
			<a href="{{ path('app_comment_new') }}">
				Ajouter un commentaire</a>
		{% else %}
			<a href="{{ path('app_login') }}">
				Se connecter pour commenter</a>
		{% endif %}
	</div>
    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}